<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/stylesheet.css" type="text/css" charset="utf-8">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
</head>
<body>
  <div id="container">
    <h1>The world is watching, on Twitter.</h1>
    <div id="tv">
      <%= yield %>
    </div>
    <p id="about">Created by <a href="http://twitter.com/daniel_cooper">@daniel_cooper</a> with the <a href="http://docs.atlasapi.org/">Atlas</a> and <a href="http://twitter.com">Twitter</a> Api's</p>
  </div>
  
<a href="http://github.com/danielcooper/theworldiswatching"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/c641758e06304bc53ae7f633269018169e7e5851/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f77686974655f6666666666662e706e67" alt="Fork me on GitHub"></a>
</body>
</html>